@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
body {
  font-family: "Didact Gothic", sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  position: relative; }

a {
  color: inherit;
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

p {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%;
  min-width: 320px; }

html {
  font-size: 18px; }

img {
  display: block;
  max-width: 100%; }

table {
  border-collapse: collapse; }

button {
  background: transparent;
  border: none;
  cursor: pointer; }

footer {
  position: relative;
  width: 100%; }

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden; }

.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto; }

.maincontent {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  will-change: transform; }

.hero {
  margin-top: 50px;
  min-height: 650px;
  background-image: url("/img/Узор.png");
  background-position: left;
  background-repeat: no-repeat; }
  @media screen and (max-width: 768px) {
    .hero {
      margin-top: 30px; } }

.hero__title-section {
  margin-top: 200px;
  max-width: 50%; }
  @media screen and (max-width: 768px) {
    .hero__title-section {
      margin: 60px auto;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .hero__title-section {
      margin: 95px auto; } }

.hero__title {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 20px;
  color: #1e2528; }
  @media screen and (max-width: 480px) {
    .hero__title {
      font-size: 33px; } }

.hero__text {
  padding-bottom: 50px;
  color: #555; }
  @media screen and (max-width: 480px) {
    .hero__text {
      font-size: 17px; } }

.hero__container {
  background: url("/img/lash.png") no-repeat top -20% right -120px;
  background-size: 674px; }
  @media screen and (max-width: 768px) {
    .hero__container {
      background: none; } }

.logo__img {
  max-width: 60px;
  margin-left: 15px; }
  @media screen and (max-width: 768px) {
    .logo__img {
      max-width: 55px; } }
  @media screen and (max-width: 480px) {
    .logo__img {
      max-width: 46px; } }

.logo__text {
  font-size: 25px;
  letter-spacing: 3px;
  color: #211833; }
  @media screen and (max-width: 768px) {
    .logo__text {
      font-size: 24px; } }
  @media screen and (max-width: 480px) {
    .logo__text {
      font-size: 20px; } }

.logo__image {
  max-width: 65px; }
  @media screen and (max-width: 480px) {
    .logo__image {
      max-width: 46px; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu__link {
  text-decoration: none;
  font-size: 19px;
  color: #263a41; }
  .menu__link:hover {
    color: #ff817e;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  @media screen and (max-width: 768px) {
    .menu__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.menu {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%; }
  @media screen and (max-width: 768px) {
    .menu {
      display: none; } }

.menu__item {
  min-width: 60px; }

.maincontent {
  background: url("../img/bg.png") right -40px top -5% no-repeat;
  background-size: 500px; }
  @media screen and (max-width: 768px) {
    .maincontent {
      background: url("../img/bg.png") right -40px top -2% no-repeat;
      background-size: 500px; } }

.phone__number {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #ff817e; }

.phone__text {
  opacity: 0;
  width: 173px;
  height: 42px;
  font-size: 15px;
  background-color: #ff817e;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: beige;
  border-radius: 50%; }

.phone {
  padding-top: 48px;
  min-width: 180px; }
  .phone:hover .phone__text {
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .phone {
      display: none; } }

.phone__tablets {
  display: none; }
  @media screen and (max-width: 768px) {
    .phone__tablets {
      display: table; } }

.phone__text-tablets {
  width: 173px;
  height: 42px;
  font-size: 15px;
  background-color: #ff817e;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: beige;
  border-radius: 50%; }
  @media screen and (max-width: 480px) {
    .phone__text-tablets {
      width: 158px;
      font-size: 13px; } }

.phone__number-tablets {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #ff817e; }
  @media screen and (max-width: 480px) {
    .phone__number-tablets {
      font-size: 19px; } }

.btn--theme--pink {
  background: #ff817e;
  color: white; }
  .btn--theme--pink:hover {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-box-shadow: 0px 0px 23px 1px #abacac;
    box-shadow: 0px 0px 23px 1px #abacac; }

.btn {
  font-size: 21px;
  font-weight: bold;
  padding: 18px 35px;
  line-height: 1;
  border-radius: 100%; }
  @media screen and (max-width: 480px) {
    .btn {
      font-size: 12px; } }

.about {
  background: url("../img/flover2.png") left 7% top no-repeat, url("../img/flover.png") right 20% bottom no-repeat;
  background-size: 120px;
  min-height: 420px;
  margin-top: 50px; }
  @media screen and (max-width: 768px) {
    .about {
      background-size: 90px; } }
  @media screen and (max-width: 480px) {
    .about {
      background-size: 66px; } }

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 180px; }
  @media screen and (max-width: 768px) {
    .about__content {
      padding: 0 100px; } }
  @media screen and (max-width: 480px) {
    .about__content {
      padding: 0 45px; } }

.about__content-text {
  font-size: 20px;
  color: #888; }
  @media screen and (max-width: 768px) {
    .about__content-text {
      font-size: 18px; } }
  @media screen and (max-width: 480px) {
    .about__content-text {
      font-size: 16px; } }

.about__content-title {
  font-size: 45px;
  padding-bottom: 55px;
  color: #1e2528; }
  @media screen and (max-width: 768px) {
    .about__content-title {
      font-size: 36px;
      padding-bottom: 20px; } }
  @media screen and (max-width: 480px) {
    .about__content-title {
      font-size: 31px; } }

.about__content-info {
  text-align: center;
  color: #888888;
  font-size: 17px; }
  @media screen and (max-width: 480px) {
    .about__content-info {
      font-size: 16px; } }

.section__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px; }
  @media screen and (max-width: 768px) {
    .section__works {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.section {
  min-height: 500px; }

.section__works-img {
  height: 115%;
  width: 100%;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease; }
  @media screen and (max-width: 768px) {
    .section__works-img {
      height: 90%; } }
  .section__works-img:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5); }

.section__works-content {
  margin-right: 30px;
  overflow: hidden; }
  .section__works-content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .section__works-content {
      margin-right: 0; } }

.section__container {
  max-width: 100%; }

.price__card {
  background-color: #fcf5ee;
  margin-right: 25px;
  -webkit-box-shadow: 13px 14px 18px -3px #888888;
  box-shadow: 13px 14px 18px -3px #888888;
  min-width: 221px;
  min-height: 460px; }
  .price__card:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .price__card {
      margin-right: 0;
      margin-bottom: 60px;
      min-height: 650px;
      -webkit-box-shadow: none;
      box-shadow: none; } }
  @media screen and (max-width: 480px) {
    .price__card {
      min-height: 480px; } }

.price__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .price__content {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.price {
  min-height: 500px;
  margin-top: 50px;
  background-image: url("/img/узор_лист.png");
  background-position: left;
  background-repeat: no-repeat; }
  @media screen and (max-width: 768px) {
    .price {
      background-position: left top; } }

.price__card-img {
  margin: 38px auto;
  width: 80%;
  height: 56%;
  border-radius: 17px; }
  .price__card-img:hover {
    -webkit-box-shadow: 0px 0px 3px 4px #bbb;
    box-shadow: 0px 0px 3px 4px #bbb; }
  @media screen and (max-width: 768px) {
    .price__card-img {
      height: 60%; } }

.price__info {
  text-align: center;
  margin-bottom: 80px; }

.price__info-title {
  font-size: 45px;
  color: #1e2528;
  font-weight: bold; }
  @media screen and (max-width: 768px) {
    .price__info-title {
      font-size: 50px; } }
  @media screen and (max-width: 480px) {
    .price__info-title {
      font-size: 38px; } }

.price__info-text {
  color: #888888;
  font-size: 19px; }
  @media screen and (max-width: 480px) {
    .price__info-text {
      font-size: 16px; } }

.price__card-info {
  text-align: center;
  color: #263a41; }

.price__card-title {
  font-size: 37px;
  color: #ff817e; }
  @media screen and (max-width: 480px) {
    .price__card-title {
      font-size: 33px; } }

.price__card-text {
  font-size: 16px;
  padding: 0 36px; }
  @media screen and (max-width: 768px) {
    .price__card-text {
      font-size: 24px; } }
  @media screen and (max-width: 480px) {
    .price__card-text {
      font-size: 15px; } }

.reviews {
  height: 600px;
  margin-top: 220px;
  background: url("/img/quote.png") no-repeat top left 50%; }
  @media screen and (max-width: 768px) {
    .reviews {
      margin-top: 55px; } }

.reviews__content-text {
  padding: 106px 100px 0px 100px;
  text-align: center; }
  @media screen and (max-width: 768px) {
    .reviews__content-text {
      padding: 65px 50px; } }
  @media screen and (max-width: 480px) {
    .reviews__content-text {
      padding: 65px 35px;
      font-size: 16px; } }

.reviews__content-photo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .reviews__content-photo {
      width: 105px;
      height: 105px; } }
  @media screen and (max-width: 480px) {
    .reviews__content-photo {
      width: 95px;
      height: 95px; } }

.reviews__content-name {
  font-size: 27px;
  color: #263a41;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .reviews__content-name {
      font-size: 24px; } }

.reviews__nav-elem {
  margin-right: 30px; }
  .reviews__nav-elem:last-child {
    margin-right: 0; }
  .reviews__nav-elem--active .reviews__nav-button {
    background: #ff544e; }

.reviews__nav-button {
  height: 11px;
  border-radius: 50%;
  background: #ff817e;
  outline: none; }

.reviews__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px; }

.bx-wrapper {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.socials {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30px; }
  @media screen and (max-width: 768px) {
    .socials {
      width: 220px; } }

.socials__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  background: center center no-repeat; }

.socials__item--vk {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36.7 36.7'><path class='st0' d='M36.5,26.8c0-0.1-0.1-0.2-0.1-0.2c-0.6-1.1-1.9-2.6-3.7-4.2l0,0l0,0l0,0h0c-0.8-0.8-1.3-1.3-1.5-1.6c-0.4-0.5-0.5-1-0.3-1.5c0.2-0.4,0.7-1.2,1.7-2.5c0.5-0.7,0.9-1.2,1.2-1.6c2.2-2.9,3.2-4.8,2.9-5.6l-0.1-0.2C36.5,9.1,36.3,9,36,8.9c-0.3-0.1-0.7-0.1-1.2,0l-5.5,0c-0.1,0-0.2,0-0.4,0c-0.2,0-0.2,0.1-0.2,0.1l-0.1,0l-0.1,0.1c-0.1,0-0.1,0.1-0.2,0.2c-0.1,0.1-0.1,0.2-0.2,0.3c-0.6,1.5-1.3,3-2,4.3c-0.5,0.8-0.9,1.5-1.3,2.1c-0.4,0.6-0.7,1-1,1.3c-0.3,0.3-0.5,0.5-0.7,0.7c-0.2,0.2-0.4,0.2-0.5,0.2c-0.1,0-0.2-0.1-0.3-0.1c-0.2-0.1-0.3-0.3-0.4-0.5c-0.1-0.2-0.2-0.4-0.2-0.7c0-0.3-0.1-0.6-0.1-0.8c0-0.2,0-0.5,0-0.9c0-0.4,0-0.7,0-0.8c0-0.5,0-1,0-1.6c0-0.6,0-1,0-1.3c0-0.3,0-0.7,0-1.1c0-0.4,0-0.7-0.1-0.9c0-0.2-0.1-0.4-0.2-0.6c-0.1-0.2-0.2-0.4-0.4-0.5c-0.2-0.1-0.4-0.2-0.6-0.3c-0.7-0.2-1.5-0.2-2.6-0.2c-2.4,0-3.9,0.1-4.6,0.5c-0.3,0.1-0.5,0.3-0.7,0.6c-0.2,0.3-0.3,0.4-0.1,0.5c0.8,0.1,1.3,0.4,1.6,0.8l0.1,0.2c0.1,0.2,0.2,0.5,0.3,0.9c0.1,0.4,0.1,0.9,0.2,1.4c0.1,0.9,0.1,1.7,0,2.4c-0.1,0.7-0.1,1.2-0.2,1.5c-0.1,0.4-0.1,0.7-0.3,0.9c-0.1,0.2-0.2,0.4-0.2,0.4c0,0.1-0.1,0.1-0.1,0.1c-0.2,0.1-0.3,0.1-0.5,0.1c-0.2,0-0.4-0.1-0.6-0.3c-0.3-0.2-0.5-0.4-0.8-0.7c-0.3-0.3-0.6-0.7-0.9-1.3c-0.3-0.6-0.7-1.2-1.1-2l-0.3-0.6c-0.2-0.4-0.5-0.9-0.8-1.6c-0.3-0.7-0.6-1.3-0.9-2C7.7,9.5,7.5,9.3,7.3,9.1L7.2,9.1C7.1,9,7,9,6.9,8.9C6.8,8.9,6.6,8.8,6.5,8.8l-5.2,0C0.7,8.8,0.3,9,0.1,9.2L0.1,9.3C0,9.4,0,9.5,0,9.6c0,0.1,0,0.3,0.1,0.5c0.8,1.8,1.6,3.5,2.5,5.2c0.9,1.7,1.7,3,2.3,4c0.7,1,1.3,2,2,2.9c0.7,0.9,1.1,1.5,1.4,1.7c0.2,0.3,0.4,0.4,0.5,0.6L9.3,25c0.3,0.3,0.8,0.7,1.3,1.1c0.6,0.4,1.2,0.8,2,1.3c0.7,0.4,1.6,0.8,2.5,1c1,0.3,1.9,0.4,2.8,0.3h2.2c0.4,0,0.8-0.2,1-0.4l0.1-0.1c0.1-0.1,0.1-0.2,0.1-0.4c0-0.2,0.1-0.3,0.1-0.5c0-0.5,0-1,0.1-1.5c0.1-0.4,0.2-0.8,0.3-1c0.1-0.2,0.3-0.4,0.4-0.6c0.2-0.2,0.3-0.2,0.3-0.3c0.1,0,0.1-0.1,0.2-0.1c0.3-0.1,0.7,0,1.1,0.3c0.4,0.3,0.8,0.7,1.2,1.1c0.4,0.4,0.8,0.9,1.3,1.5c0.5,0.5,1,1,1.3,1.2l0.4,0.2c0.3,0.2,0.6,0.3,1,0.4c0.4,0.1,0.8,0.2,1.1,0.1l4.9-0.1c0.5,0,0.9-0.1,1.1-0.2c0.3-0.2,0.4-0.3,0.5-0.5c0.1-0.2,0.1-0.4,0-0.7C36.6,27.1,36.6,26.9,36.5,26.8L36.5,26.8z M36.5,26.8'/></svg>") no-repeat;
  opacity: 65%; }
  @media screen and (max-width: 768px) {
    .socials__item--vk {
      width: 30px; } }

.socials__item--vk:hover {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36.7 36.7'><path class='st0' d='M36.5,26.8c0-0.1-0.1-0.2-0.1-0.2c-0.6-1.1-1.9-2.6-3.7-4.2l0,0l0,0l0,0h0c-0.8-0.8-1.3-1.3-1.5-1.6c-0.4-0.5-0.5-1-0.3-1.5c0.2-0.4,0.7-1.2,1.7-2.5c0.5-0.7,0.9-1.2,1.2-1.6c2.2-2.9,3.2-4.8,2.9-5.6l-0.1-0.2C36.5,9.1,36.3,9,36,8.9c-0.3-0.1-0.7-0.1-1.2,0l-5.5,0c-0.1,0-0.2,0-0.4,0c-0.2,0-0.2,0.1-0.2,0.1l-0.1,0l-0.1,0.1c-0.1,0-0.1,0.1-0.2,0.2c-0.1,0.1-0.1,0.2-0.2,0.3c-0.6,1.5-1.3,3-2,4.3c-0.5,0.8-0.9,1.5-1.3,2.1c-0.4,0.6-0.7,1-1,1.3c-0.3,0.3-0.5,0.5-0.7,0.7c-0.2,0.2-0.4,0.2-0.5,0.2c-0.1,0-0.2-0.1-0.3-0.1c-0.2-0.1-0.3-0.3-0.4-0.5c-0.1-0.2-0.2-0.4-0.2-0.7c0-0.3-0.1-0.6-0.1-0.8c0-0.2,0-0.5,0-0.9c0-0.4,0-0.7,0-0.8c0-0.5,0-1,0-1.6c0-0.6,0-1,0-1.3c0-0.3,0-0.7,0-1.1c0-0.4,0-0.7-0.1-0.9c0-0.2-0.1-0.4-0.2-0.6c-0.1-0.2-0.2-0.4-0.4-0.5c-0.2-0.1-0.4-0.2-0.6-0.3c-0.7-0.2-1.5-0.2-2.6-0.2c-2.4,0-3.9,0.1-4.6,0.5c-0.3,0.1-0.5,0.3-0.7,0.6c-0.2,0.3-0.3,0.4-0.1,0.5c0.8,0.1,1.3,0.4,1.6,0.8l0.1,0.2c0.1,0.2,0.2,0.5,0.3,0.9c0.1,0.4,0.1,0.9,0.2,1.4c0.1,0.9,0.1,1.7,0,2.4c-0.1,0.7-0.1,1.2-0.2,1.5c-0.1,0.4-0.1,0.7-0.3,0.9c-0.1,0.2-0.2,0.4-0.2,0.4c0,0.1-0.1,0.1-0.1,0.1c-0.2,0.1-0.3,0.1-0.5,0.1c-0.2,0-0.4-0.1-0.6-0.3c-0.3-0.2-0.5-0.4-0.8-0.7c-0.3-0.3-0.6-0.7-0.9-1.3c-0.3-0.6-0.7-1.2-1.1-2l-0.3-0.6c-0.2-0.4-0.5-0.9-0.8-1.6c-0.3-0.7-0.6-1.3-0.9-2C7.7,9.5,7.5,9.3,7.3,9.1L7.2,9.1C7.1,9,7,9,6.9,8.9C6.8,8.9,6.6,8.8,6.5,8.8l-5.2,0C0.7,8.8,0.3,9,0.1,9.2L0.1,9.3C0,9.4,0,9.5,0,9.6c0,0.1,0,0.3,0.1,0.5c0.8,1.8,1.6,3.5,2.5,5.2c0.9,1.7,1.7,3,2.3,4c0.7,1,1.3,2,2,2.9c0.7,0.9,1.1,1.5,1.4,1.7c0.2,0.3,0.4,0.4,0.5,0.6L9.3,25c0.3,0.3,0.8,0.7,1.3,1.1c0.6,0.4,1.2,0.8,2,1.3c0.7,0.4,1.6,0.8,2.5,1c1,0.3,1.9,0.4,2.8,0.3h2.2c0.4,0,0.8-0.2,1-0.4l0.1-0.1c0.1-0.1,0.1-0.2,0.1-0.4c0-0.2,0.1-0.3,0.1-0.5c0-0.5,0-1,0.1-1.5c0.1-0.4,0.2-0.8,0.3-1c0.1-0.2,0.3-0.4,0.4-0.6c0.2-0.2,0.3-0.2,0.3-0.3c0.1,0,0.1-0.1,0.2-0.1c0.3-0.1,0.7,0,1.1,0.3c0.4,0.3,0.8,0.7,1.2,1.1c0.4,0.4,0.8,0.9,1.3,1.5c0.5,0.5,1,1,1.3,1.2l0.4,0.2c0.3,0.2,0.6,0.3,1,0.4c0.4,0.1,0.8,0.2,1.1,0.1l4.9-0.1c0.5,0,0.9-0.1,1.1-0.2c0.3-0.2,0.4-0.3,0.5-0.5c0.1-0.2,0.1-0.4,0-0.7C36.6,27.1,36.6,26.9,36.5,26.8L36.5,26.8z M36.5,26.8'/></svg>") no-repeat;
  opacity: 30%; }
  @media screen and (max-width: 768px) {
    .socials__item--vk:hover {
      width: 30px; } }

.socials__item--inst {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36.7 36.7'><path class='st0' d='M32.3,0H4.4C2,0,0,1.9,0,4.3v28.1c0,2.4,2,4.3,4.4,4.3h27.9c2.4,0,4.4-1.9,4.4-4.3V4.3C36.7,1.9,34.7,0,32.3,0M26.4,5.7c0-0.6,0.5-1.1,1.1-1.1H31c0.6,0,1.1,0.5,1.1,1.1v3.4c0,0.6-0.5,1.1-1.1,1.1h-3.4c-0.6,0-1.1-0.5-1.1-1.1L26.4,5.7L26.4,5.7z M18.4,11.3c3.9,0,7.1,3.1,7.1,7s-3.2,7-7.1,7s-7.1-3.1-7.1-7C11.3,14.5,14.5,11.3,18.4,11.3 M33.2,32.1c0,0.6-0.5,1.1-1.1,1.1H4.6c-0.6,0-1.1-0.5-1.1-1.1V14.9H8c-0.6,0.9-0.8,2.5-0.8,3.5c0,6.1,5,11.1,11.2,11.1s11.2-5,11.2-11.1c0-1-0.1-2.6-0.9-3.5h4.6L33.2,32.1L33.2,32.1z'/></svg>") no-repeat;
  opacity: 65%; }
  @media screen and (max-width: 768px) {
    .socials__item--inst {
      width: 30px; } }

.socials__item--inst:hover {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36.7 36.7'><path class='st0' d='M32.3,0H4.4C2,0,0,1.9,0,4.3v28.1c0,2.4,2,4.3,4.4,4.3h27.9c2.4,0,4.4-1.9,4.4-4.3V4.3C36.7,1.9,34.7,0,32.3,0M26.4,5.7c0-0.6,0.5-1.1,1.1-1.1H31c0.6,0,1.1,0.5,1.1,1.1v3.4c0,0.6-0.5,1.1-1.1,1.1h-3.4c-0.6,0-1.1-0.5-1.1-1.1L26.4,5.7L26.4,5.7z M18.4,11.3c3.9,0,7.1,3.1,7.1,7s-3.2,7-7.1,7s-7.1-3.1-7.1-7C11.3,14.5,14.5,11.3,18.4,11.3 M33.2,32.1c0,0.6-0.5,1.1-1.1,1.1H4.6c-0.6,0-1.1-0.5-1.1-1.1V14.9H8c-0.6,0.9-0.8,2.5-0.8,3.5c0,6.1,5,11.1,11.2,11.1s11.2-5,11.2-11.1c0-1-0.1-2.6-0.9-3.5h4.6L33.2,32.1L33.2,32.1z'/></svg>") no-repeat;
  opacity: 30%; }
  @media screen and (max-width: 768px) {
    .socials__item--inst:hover {
      width: 30px; } }

.socials__item--tw {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36.7 36.7'><path class='st0' d='M35.7,3.7c-1.5,0.9-3.1,1.5-4.8,1.9c-1.4-1.5-3.3-2.4-5.5-2.4c-4.2,0-7.5,3.5-7.5,7.7c0,0.6,0.1,1.2,0.2,1.8C11.8,12.3,6.3,9.2,2.6,4.5c-0.6,1.1-1,2.5-1,3.9c0,2.7,1.3,5,3.4,6.4c-1.2,0-2.4-0.4-3.4-1V14c0,3.7,2.6,6.9,6,7.6c-0.6,0.2-1.3,0.3-2,0.3c-0.5,0-1,0-1.4-0.1c1,3.1,3.7,5.3,7,5.4c-2.6,2.1-5.8,3.3-9.4,3.3c-0.6,0-1.2,0-1.8-0.1c3.3,2.2,7.3,3.5,11.5,3.5c13.9,0,21.4-11.8,21.4-22c0-0.3,0-0.7,0-1c1.5-1.1,2.8-2.4,3.8-4c-1.3,0.6-2.8,1-4.3,1.2C33.9,7,35.1,5.5,35.7,3.7'/></svg>") no-repeat;
  opacity: 65%; }
  @media screen and (max-width: 768px) {
    .socials__item--tw {
      width: 30px; } }

.socials__item--tw:hover {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36.7 36.7'><path class='st0' d='M35.7,3.7c-1.5,0.9-3.1,1.5-4.8,1.9c-1.4-1.5-3.3-2.4-5.5-2.4c-4.2,0-7.5,3.5-7.5,7.7c0,0.6,0.1,1.2,0.2,1.8C11.8,12.3,6.3,9.2,2.6,4.5c-0.6,1.1-1,2.5-1,3.9c0,2.7,1.3,5,3.4,6.4c-1.2,0-2.4-0.4-3.4-1V14c0,3.7,2.6,6.9,6,7.6c-0.6,0.2-1.3,0.3-2,0.3c-0.5,0-1,0-1.4-0.1c1,3.1,3.7,5.3,7,5.4c-2.6,2.1-5.8,3.3-9.4,3.3c-0.6,0-1.2,0-1.8-0.1c3.3,2.2,7.3,3.5,11.5,3.5c13.9,0,21.4-11.8,21.4-22c0-0.3,0-0.7,0-1c1.5-1.1,2.8-2.4,3.8-4c-1.3,0.6-2.8,1-4.3,1.2C33.9,7,35.1,5.5,35.7,3.7'/></svg>") no-repeat;
  opacity: 30%; }
  @media screen and (max-width: 768px) {
    .socials__item--tw:hover {
      width: 30px; } }

.footer {
  background-color: #ffc3c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 300px; }
  @media screen and (max-width: 768px) {
    .footer {
      height: 400px; } }

.footer__logo {
  margin-top: 50px; }

.footer__menu {
  margin-top: 30px;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .footer__menu {
      width: 60%; } }

.footer__autor {
  margin-top: 20px; }

.hamburger {
  width: 30px;
  height: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: none;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .hamburger {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; } }

.hamburger__plank {
  display: block;
  background: #888;
  height: 5px;
  border-radius: 7px; }

.hamburger__menu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  background-color: #bdadad;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  height: 0;
  width: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  @media screen and (max-width: 768px) {
    .hamburger__menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: fixed;
      font-size: 20px; } }

.close {
  position: absolute;
  top: 0.833rem;
  right: 0.833rem;
  cursor: pointer;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background: crimson;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 1.111rem; }

.menu_window {
  display: block;
  z-index: 1000;
  opacity: 1;
  cursor: pointer;
  height: auto;
  width: auto; }

.hamburger__link {
  text-decoration: none;
  white-space: nowrap;
  font-size: 34px; }
  @media screen and (max-width: 480px) {
    .hamburger__link {
      font-size: 30px; } }

.reviews__arrow-left,
.reviews__arrow-right {
  height: 50px;
  width: 50px;
  font-size: 36px;
  font-weight: bold;
  background-color: #ff817e;
  border-radius: 10px;
  color: white;
  outline: none; }
  .reviews__arrow-left:hover,
  .reviews__arrow-right:hover {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-box-shadow: 0px 0px 23px 1px #abacac;
    box-shadow: 0px 0px 23px 1px #abacac; }

.reviews__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

/*# sourceMappingURL=main.css.map */