@import "mixin.scss";
.about {
  background: url("../img/flover2.png")left 7% top no-repeat,
              url("../img/flover.png") right 20% bottom no-repeat;
 background-size: 6.666rem;
 min-height: 23.333rem;
 margin-top: 2.777rem;
 @include tablets {
   background-size: 5rem;
 }
 @include phones {
    background-size: 3.666rem;
}
}
.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10rem;
  @include tablets {
    padding: 0 5.555rem;
  }
  @include phones {
    padding: 0 2.5rem;
  }
}
.about__content-text {
  font-size: 1.111rem;
  color: #888;
  @include tablets{
    font-size: 1rem;
  }
  @include phones {
    font-size: 0.888rem;
  }
}
.about__content-title {
  font-size: 2.5rem;
  padding-bottom: 3.055rem;
  color: #1e2528;
  @include tablets {
    font-size: 2rem;
    padding-bottom: 1.111rem;
  }
  @include phones {
    font-size: 1.722rem;
  }
}
.about__content-info {
  text-align: center;
  color: #888888;
  font-size: 0.944rem;
  @include phones {
    font-size: 0.888rem;
  }
}