.reviews__arrow-left,
.reviews__arrow-right {
  height: 2.777rem;
  width: 2.777rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: #ff817e;
  border-radius: 0.555rem;
  color: white;
  outline: none;
  &:hover {
    transition: 1s;
    box-shadow: 0rem 0rem 1.277rem 0.055rem #abacac;
  }
}
.reviews__arrow {
  display: flex;
  justify-content: space-between;
}

