.btn--theme--pink {
  background: #ff817e;
  color: white;
  &:hover {
    transition: 1s;
    box-shadow: 0rem 0rem 1.277rem 0.055rem #abacac;
  }
}
.btn {
  font-size: 1.166rem;
  font-weight: bold;
  padding: 1rem 1.944rem;
  line-height: 1;
  border-radius: 100%;
  @include phones {
    font-size: 0.666rem;
  }
}