@import "mixin.scss";
.price__card {
  background-color: #fcf5ee;
  margin-right: 1.388rem;
  box-shadow: 0.722rem 0.777rem 1rem -0.166rem #888888;
  min-width: 12.277rem;
  min-height: 25.555rem;
  &:last-child {
    margin-right: 0;
  }
  @include tablets {
    margin-right: 0;
    margin-bottom: 3.333rem;
    min-height: 36.111rem;
    box-shadow: none;
  }
  @include phones {
    min-height: 26.666rem;
  }
}
.price__content {
  display: flex;
  @include tablets {
    flex-wrap: wrap;
  }
}
.price {
  min-height: 27.777rem;
  margin-top: 2.777rem;
  background-image: url("/img/узор_лист.png");
  background-position: left;
  background-repeat: no-repeat;
  @include tablets {
    background-position: left top;
  }
}
.price__card-img {
  margin: 2.111rem auto;
  width: 80%;
  height: 56%;
  border-radius: 0.944rem;
  &:hover {
    box-shadow: 0rem 0rem 0.166rem 0.222rem  #bbb;
  }
}
.price__info {
  text-align: center;
  margin-bottom: 4.444rem;
}
.price__info-title {
  font-size: 2.5rem;
  color: #1e2528;
  font-weight: bold;
  @include tablets {
    font-size: 2.777rem;
  }
  @include phones {
    font-size: 2.111rem;
  }
}
.price__info-text {
  color: #888888;
  font-size: 1.055rem;
  @include phones {
    font-size: 0.888rem;
  }
}
.price__card-info {
  text-align: center;
  color: #263a41;
}
.price__card-title {
  font-size: 2.055rem;
  color: #ff817e;
  @include phones {
    font-size: 1.833rem;
  }
}
.price__card-text {
  font-size: 0.888rem;
  padding:0 2rem;
  @include tablets {
    font-size: 1.333rem;
  }
  @include phones {
    font-size: 0.833rem;
  }
}
