@import "mixin.scss";
.reviews {
  height: 35.555rem;
  margin-top: 12.222rem;
  background: url("/img/quote.png") no-repeat top left 50%;
 @include tablets {
   margin-top: 3.055rem;
 }
}
.reviews__content-text {
  padding: 5.888rem 5.555rem 0 5.555rem;
 
  text-align: center;
  @include tablets {
    padding: 3.611rem 2.777rem;
  }
  @include phones {
    padding: 3.611rem 1.944rem;
    font-size: 0.888rem;
  }
}
.reviews__content-photo {
  width: 6.944rem;
  height: 6.944rem;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
  @include tablets {
    width: 5.833rem;
    height: 5.833rem;
  }
  @include phones {
    width: 5.277rem;
    height: 5.277rem;
  }
}
.reviews__content-name {
  font-size: 1.5rem;
  color: #263a41;
  text-align: center;
  @include phones {
    font-size: 1.333rem;
  }
}
.reviews__nav-elem {
  margin-right: 1.666rem;
  &:last-child {
    margin-right: 0;
  }
}
.active {
  .reviews__nav-button {
    background: #ff544e;
  }
}
.reviews__nav-button {
  height: 0.611rem;
  border-radius: 50%;
  background: #ff817e;
  outline: none;
  &:hover {
    background: #ff544e;
  }
}
.reviews__nav-list {
  display: flex;
  justify-content: center;
  margin-top: 2.222rem;
}
.bx-wrapper {
  background: none;
  border: none;
  box-shadow: none;  
}
