@import "mixin.scss";
.section__works {
  display: flex;
  margin-top: 5.555rem;
  @include tablets {
    flex-wrap: wrap;
  }
}
.section {
  min-height: 27.777rem;
}
.section__works-img {
  height: 115%;
  width: 100%;
  transition: transform .5s ease;
  @include tablets {
    height: 90%;
  }
  &:hover {
    transform: scale(1.5);
  }
}
.section__works-content {
  margin-right: 1.666rem;
  overflow: hidden;
  &:last-child {
    margin-right: 0;
  }
  @include tablets {
    margin-right: 0;
  }
}
.section__container {
  max-width: 100%;
}