.footer {
  background-color: #ffc3c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}
.footer__logo {
  margin-top: 50px;
}
.footer__menu {
  margin-top: 30px;
}
.footer__autor {
  margin-top: 20px;
}