.hero {
  margin-top: 50px;
  min-height: 650px;
}
.hero__title-section {
  margin-top: 200px;
  max-width: 50%;
}
.hero__title {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 20px;
  color: #1e2528;
}
.hero__text {
  padding-bottom: 50px;
  color: #555;
}
