@import "mixin.scss";
.hero {
  margin-top: 50px;
  min-height: 650px;
  background-image: url("/img/Узор.png");
  background-position: left;
  background-repeat: no-repeat;
  @include tablets {
    margin-top: 30px;
  }
}
.hero__title-section {
  margin-top: 200px;
  max-width: 50%;
  @include tablets {
    margin: 60px auto;
    text-align: center;
  }
  @include phones {
    margin: 95px auto;
  }
}
.hero__title {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 20px;
  color: #1e2528;
  @include phones {
    font-size: 33px;
  }
}
.hero__text {
  padding-bottom: 50px;
  color: #555;
  @include phones {
    font-size: 17px;
  }
}
.hero__container {
  background: url("/img/lash.png") no-repeat top -20% right -120px;
  background-size: 674px;
  @include tablets {
    background: none;
  }
}
