@import "mixin.scss";
.hero {
  margin-top: 50px;
  min-height: 650px;
  background-image: url("/img/Узор.png");
  background-position: left;
  background-repeat: no-repeat;
}
.hero__title-section {
  margin-top: 200px;
  max-width: 50%;
}
.hero__title {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 20px;
  color: #1e2528;
}
.hero__text {
  padding-bottom: 50px;
  color: #555;
}
.hero__container {
  background: url("/img/lash.png") no-repeat top -20% right -120px;
  background-size: 674px;
  @include tablets {
    background: url(/img/lash.png) no-repeat top 54% right -101px;
    background-size: 520px;
  }
}
