@import "mixin.scss";
.price__card {
  background-color: #fcf5ee;
  margin-right: 25px;
  box-shadow: 13px 14px 18px -3px #888888;
  min-width: 221px;
  min-height: 460px;
  &:last-child {
    margin-right: 0;
  }
  @include tablets {
    margin-right: 0;
    margin-bottom: 60px;
    min-height: 650px;
  }
  @include phones {
    min-height: 480px;
  }
}
.price__content {
  display: flex;
  @include tablets {
    flex-wrap: wrap;
  }
}
.price {
  min-height: 500px;
  margin-top: 50px;
  background-image: url("/img/узор_лист.png");
  background-position: left;
  background-repeat: no-repeat;
  @include tablets {
    background-position: left top;
  }
}
.price__card-img {
  margin: 38px auto;
  width: 80%;
  height: 56%;
  border-radius: 17px;
  &:hover {
    box-shadow: 0px 0px 3px 4px #bbb;
  }
  @include tablets {
    height: 60%;
  }
}
.price__info {
  text-align: center;
  margin-bottom: 80px;
}
.price__info-title {
  font-size: 45px;
  color: #1e2528;
  font-weight: bold;
  @include tablets {
    font-size: 50px;
  }
  @include phones {
    font-size: 38px;
  }
}
.price__info-text {
  color: #888888;
  font-size: 19px;
  @include phones {
    font-size: 16px;
  }
}
.price__card-info {
  text-align: center;
  color: #263a41;
}
.price__card-title {
  font-size: 37px;
  color: #ff817e;
  @include phones {
    font-size: 33px;
  }
}
.price__card-text {
  font-size: 16px;
  padding:0 36px;
  @include tablets {
    font-size: 24px;
  }
  @include phones {
    font-size: 15px;
  }
}
