@import "mixin.scss";
.reviews {
  height: 600px;
  margin-top: 220px;
  background: url("/img/quote.png") no-repeat top left 50%;
 @include tablets {
   margin-top: 55px;
 }
}
.reviews__content-text {
  padding: 106px 100px 0px 100px;
 
  text-align: center;
  @include tablets {
    padding: 65px 50px;
  }
  @include phones {
    padding: 65px 35px;
    font-size: 16px;
  }
}
.reviews__content-photo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 0 auto;
  @include tablets {
    width: 105px;
    height: 105px;
  }
  @include phones {
    width: 95px;
    height: 95px;
  }
}
.reviews__content-name {
  font-size: 27px;
  color: #263a41;
  text-align: center;
  @include phones {
    font-size: 24px;
  }
}
.reviews__nav-elem {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
  &--active {
    .reviews__nav-button {
      background: #ff544e;
    }
  }
}
.reviews__nav-button {
  height: 11px;
  border-radius: 50%;
  background: #ff817e;
  outline: none;
}
.reviews__nav-list {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.bx-wrapper {
  background: none;
  border: none;
  box-shadow: none;
  
}
