.reviews {
  height: 600px;
  margin-top: 220px;
  background: url("/img/quote.png") no-repeat top left 50%;
  ::before {
  content: "";
  width: 1316px;
  height: 504px;
  background: url("/img/Узор_на_фоне.png") right bottom  no-repeat;
  display: block;
  position: absolute;
  }
}
.reviews__content-text {
  padding: 65px 100px;
  text-align: center;
}
.reviews__content-photo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 0 auto;
}
.reviews__content-name {
  font-size: 27px;
  color: #263a41;
  text-align: center;
}
.reviews__nav-elem {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
  &--active {
    .reviews__nav-button {
      background: #ff544e;
    }
  }
}
.reviews__nav-button {
  height: 11px;
  border-radius: 50%;
  background: #ff817e;
}
.reviews__nav-list {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}