.section__works {
  display: flex;
  margin-top: 100px;
}
.section {
  min-height: 500px;
}
.section__works-img {
  height: 115%;
  width: 100%;
}
.section__works-content {
  margin-left: 30px;
}
.section__container {
  max-width: 100%;
}