@import "mixin.scss";
.section__works {
  display: flex;
  margin-top: 100px;
  @include tablets {
    flex-wrap: wrap;
  }
}
.section {
  min-height: 500px;
}
.section__works-img {
  height: 115%;
  width: 100%;
  @include tablets {
    height: 90%;
  }
}
.section__works-content {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
  @include tablets {
    margin-right: 0;
  }
}
.section__container {
  max-width: 100%;
}